gitdb
typing_extensions
cryptography
Jinja2
PyYAML
MarkupSafe
Werkzeug
click
blinker
itsdangerous
smmap
mysql-connector-python
Deprecated
PyJWT
requests
urllib3
certifi
idna
pycparser
wrapt
Flask
Flask[async]
psutil
gitpython
waitress
docker
