gitdb~=4.0.11
typing_extensions~=4.11.0
cryptography~=42.0.5
pip~=24.0
Jinja2~=3.1.3
PyYAML~=6.0.1
MarkupSafe~=2.1.5
Werkzeug~=3.0.1
click~=8.1.7
blinker~=1.7.0
itsdangerous~=2.1.2
smmap~=5.0.1
mysql-connector-python~=8.3.0
Deprecated~=1.2.14
PyJWT~=2.8.0
requests~=2.31.0
urllib3~=2.2.1
certifi~=2024.2.2
idna~=3.6
pycparser~=2.22
wrapt~=1.16.0
Flask~=3.0.2
Flask[async]
psutil
gitpython
waitress